<li><img src="../images/sample/sample-page-avatar1.png" /></li>
<li><img src="../images/sample/sample-page-avatar2.png" /></li>
<li><img src="../images/sample/sample-page-avatar3.png" /></li>
<li><img src="../images/sample/sample-page-avatar4.png" /></li>
<li><img src="../images/sample/sample-page-avatar5.png" /></li>
<img class="avatar-active" src="../images/sample/sample-page-avatar-active.png" />
